.todoList {
    table {
        width: 100%;
        display: table;
        border: 1px solid #ccc;
        margin-top: 25px;
        tbody>tr:nth-child(odd) {
            background-color: #f1f1f1;
            border-bottom: 1px solid #ddd;
        }
        th {
            text-align: left;
        }
        tr {
            height: 50px;
        }
        th,
        td {
            padding-left: 5px;
        }
    }
}