<section class="todoList">
    <h1>{{'title' | translate}}</h1>
    <div style="display: flex;margin: 25px 0;">
        <p style=" margin-right: 25px;">Change Language: </p>
        <select #selLang (change)="translateLanguageTo(selLang.value)">
            <option *ngFor="let language of translate.getLangs()"
                [value]="language">
                {{ language }}
            </option>
        </select>
    </div>

    <!-- 
    <ul>
        <li>
            <b>{{'USER_INFO.NAME' | translate}}</b> : Heidi Miller
        </li>
    </ul> -->
    <h3>{{getName()}} To Do List </h3>
    <div>
        <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput placeholder="" type="text" [(ngModel)]="todoText">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="addItem(todoText)">Add</button>
    </div>


    <table>
        <thead>
            <tr>
                <th>Index</th>
                <th>Task</th>
                <th>DOne</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of getTodoitems(); let idx= index">
                <td>{{idx + 1}}</td>
                <td>{{item.action}}</td>
                <td>
                    <input type="checkbox" [(ngModel)]="item.done">
                </td>
                <td [ngSwitch]="item.done">
                    <span *ngSwitchCase="true">Yes</span>
                    <span *ngSwitchCase="false">No</span>
                </td>
                <td style="cursor: pointer;display: flex;">
                    <p (click)="removeTask(idx)">
                        <i class="material-icons">delete</i>
                    </p>
                    <p (click)="editTask(idx,item.action)">
                        <i class="material-icons">edit</i>
                    </p>
                </td>

            </tr>

        </tbody>
    </table>
</section>